 <div style="display:flex; margin-top: 10px;gap: 10px;">
   <img src="@menu.BrandIconPath" style="width:30px; heigth:30px;"/>
   <a class="navbar-brand" href="/" style="font-weight:bold;">@menu.Name</a>
 </div>

 @code{
    [Parameter]
    public jtech_models.config.Menu menu {get;set;}
 }